@import "tailwindcss";


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.navbg{
  background-color: rgb(78, 176, 80);
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: large;
  transition: all 100ms ease-in;
}


.body > h2 {
  font-size: 2rem;
  padding: 20px;
  padding-left: 40px;
}

.res-container {
  width: 100vw;
  display: flex;
  padding: 0 40px;
  flex-wrap: wrap;
  /* justify-content: center; */
  gap: 10px;
  box-sizing: border-box;
  background: #f4f4f4;
  padding-top: 50px;
}
.filter-btn {
  padding: 10px;
  margin: 10px;
  background-color: #008000;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 2px solid;
  cursor: pointer;
  margin-left: 50px;
  width: 12%;
}

.card {
  width: 275px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 20px;
  padding-bottom: 20px;
  background: #ffffff;
  padding-left: 10px;
}
/* .card .dtl{
  margin-left: 15px;
} */

.card > img {
  margin-left: -10px;
  width: auto;
  height: 200px;
  border-radius: 20px;
  box-sizing: border-box;
}
.star {
  display: flex;
  gap: 10px;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card {
  width: 250px;
  height: 300px;
  background-color: grey;
  border-radius: 20px;
  margin: 20px;
  margin-top: 80px;
}
.error {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  gap: 10px;
}
.about {
  width: 100vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  font-size: 30px;
  gap: 10px;
}
.menu {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-bottom: 20px;
}
.menu-name {
  width: 60%;
  margin-top: 50px;
}
.name-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.name {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.menu-box {
  border: 20px solid;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 1.5rem;
  border-style: outset;
  outline: none;
  margin-bottom: 50px;
  margin-top: 20px;
}
.menu-box p:nth-child(2) {
  margin: 10px 0;
  color: red;
  text-decoration: underline;
}
.menu-recom {
  /* margin-top: 50px; */
  padding: 10px 20px;
  padding-top: 40px;
  font-size: 1.1rem;
  /* border-top: 1px solid black; */
}
.recommend-card {
  width: 100%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 13px;
  padding-bottom: 40px;
  border-bottom: 2px solid rgb(41, 41, 41);
}
.recommend-card div:nth-child(2) {
  position: relative;
}
.recommend-card div:nth-child(2) img {
  width: 80%;
  border-radius: 30px;
}
.cartname {
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  color: #008000;
  font-weight: bold;
  font-size: large;
  text-transform: uppercase;
  box-sizing: border-box;
  box-shadow: 0 0 5px 1px #9e9e9e;
  cursor: pointer;
}
.cartname:hover {
  background: white;
  scale: 0.95;
  transition: all 100ms ease-in;
}

.recommend-card div:nth-child(2) button {
  position: absolute;
  bottom: -5px;
  right: 45%;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  color: green;
  font-weight: bold;
  font-size: large;
  text-transform: uppercase;
}

.recommend-card div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.recommend-card div:nth-child(1) p:nth-child(3) {
  margin-top: 10px;
  color: rgb(96, 96, 96);
}
Link {
  color: #eeeeee;
}
.about-main > h1 {
  padding: 40px;
  font-size: 3rem;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.userclass {
  border-radius: 20px;
  margin: 30px;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  width: auto;
  gap: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 5px 2px rgb(219, 219, 219);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-left: 10px;
}
.userclass img {
  width: auto;
  border-radius: 20px;
  margin-left: -10px;
}

.netwrokstatus{
  width: 100px;
}

.ofline-containe {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #121212;
}

.ofline-containe img {
  width: 200px;
}
.ofline-containe h2 {
  font-size: 2rem;
  color: white;
}
.ofline-containe p {
  font-size: 1rem;
  color: #9e9e9e;
}
.ofline-containe button {
  padding: 10px 15px;
  color: white;
  background: #000;
  border: 3px solid blue;
  border-radius: 20px;
  cursor: pointer;
}

.ofline-containe button:hover{
  transform: scale(1.1);
  transition: transform 300ms;
}
